
@{
    ViewData["Title"] = "";
}


<div class="row">

    <div class="offset-2 col-8">-
            <div class="form-floating">
                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 200px" name="json">@ViewBag.GetHTMLTableFromJsonResponse</textarea>              
            </div>     
    </div>

</div>
